body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
<<<<<<< HEAD

=======
>>>>>>> cbfc7a285750bc29478206d8a2484bb32a69152c
:global {

  .Cell-dayOfWeek{
    font-size: 1.5rem;
  }
}

.Cell-dayView p {
  font-size: 1.5rem !important;

}

.Cell-dayOfMonth {
  display: none
}